html, body{
    height: 100%;
}
legend{
    font-size: 25px;
    padding-left: 50px;
}
#container{
    height: 100%;
    padding: 30px;
}
.question-text{
    font-size: 35px;

}
.question-answer{
    color: red;
    text-align: right;
    font-size: 45px;
}
.my-table{
    width: 50%;
}
.my-row{
    font-size: 60px;
    margin: 25px;
}
.my-row li{
    color: #5771FF;
}
.my-row li i{
    float: right;
}
.fa-check{
    color: greenyellow;
}
.fa-times{
    color: red;
}
