html, body{
    height: 100%;
}
legend{
    font-size: 55px;
    padding-left: 50px;
}
#container{
    height: 100%;
    padding: 30px;
}
.my-table{
    width: 60%;
    font-size: 60px;
}
.my-row{
    margin: 25px;
}
.my-row li{
    color: #5771FF;
}
.my-row li i{
    float: right;
}
.fa-check{
    color: greenyellow;
}
.fa-times{
    margin-right: 8px;
    color: red;
}
