h1{
    margin-top: 10%;
    text-align: center;
    border-bottom: solid 1px lightgrey;
    padding-bottom: 2%;
}
.answer{
    text-align: center;
    font-size: 24px;
}
.team-list{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    list-style: none;
}
.team-list input[type=checkbox]{
    transform: scale(1.5);
    float: right;
    margin-top: 10px;
}
.team-list label{
    width: 30%;
}
.round-selector{
    width: 100px;
    margin: auto 40px;
}
.control-panel{
    float: right;
}
#quizPanel {
    display: inline-block;
}
